#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(212, 211, 211);
  height: 100vh;
  .container {
    width: 50%;
    height: 50vh;
    display: flex;
    font-size: 14px;
    border: 2px solid #999;
    justify-content: space-between;
    flex-direction: row;
    color: #666;
    box-sizing: border-box;

    .loader {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .imageWrap {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      align-items: center;
      position: relative;

      .blurImage {
        filter: blur(6px);
        -webkit-filter: blur(6px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: fill;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      img {
        max-width: 95%;
        height: auto;
        margin: 0 auto;
        position: relative;
      }
    }
    .details {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 10px 10px 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .userDetails {
        border-radius: 50%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .profileImage {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          overflow: hidden;
          margin-left: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
      }

      .imageDescription {
        h1 {
          font-size: 30px;
        }
        h3 {
          font-size: 18px;
        }
      }

      .bottom {
        .likes {
          display: flex;
          align-items: center;
          span {
            margin-left: 5px;
            color: #333;
          }
        }
        .datePosted {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}

$breakpoint-tablet: 850px;
@media (max-width: $breakpoint-tablet) {
  .container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    .imageWrap {
      max-width: 100%;
      max-height: 60%;
      align-items: inherit;
    }
    .details {
      padding: 50px 20px;
    }
  }
}
